
<div class="accordion" id="accordionPanelsStayOpenExample_thread">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-heading_{{ thread_loop_id.index }}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse_{{ thread_loop_id.index }}" aria-expanded="false" aria-controls="panelsStayOpen-collapse_{{ thread_loop_id.index }}">
        {{ thread_name }} <span class="badge bg-warning opacity-75 rounded-pill-{{ parent_loop_id }}">{{ df['Thread name'].value_counts().to_dict().get(thread_name) }}</span>
      </button>
    </h2>
    <div id="panelsStayOpen-collapse_{{ thread_loop_id.index }}" class="accordion-collapse collapse bg-secondary text-white" style="--bs-bg-opacity: .5;" aria-labelledby="panelsStayOpen-heading_{{ thread_loop_id.index }}">
      <div class="accordion-body">

          {% for parent_name in df[df['Thread name'].isin([thread_name])]['Parent name'].unique() %}
            {% set parent_loop_id = loop.index ~ thread_name | list | reject('in', [' ', ',', '.', '|', '(', ')', '\\', '/']) | join %}
            {% include 'accordion_parent_list.html' %}
          {% endfor %}

      </div>
    </div>
  </div>
</div> 
